#container{
    height:400px;
    display: flex;
    align-items: flex-end;
}
    
body{
    background-color:rgb(194, 225, 240);
    display:flex;
    flex-direction:column;
    align-items:center;
}

button{
    top:50%;
    min-height:35px; 
    min-width: 120px;
    margin: 60px;
    background-color:rgb(176, 198, 247);
    color: #252121;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(26, 56, 248);
    cursor: pointer;
}

button:hover{
    background-color:#4cbbe4;
    transition: 0.5s;
}

.bar{
    width: 15px;
    background-color: rgb(83, 246, 72);
    margin: 2px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: blue;
}